<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Create Blog</title>
    <style>
        a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      background-color: red;
    }
    </style>
</head>
<body>
    <center>
    <h1>Create your story</h1>
    </center>
    <ul>
        <li>Give a suitable title to your story</li>
        <li>Add a realtable picture or quote picture</li>
        <li>Finally add content to your Story</li>
    </ul>
    <center>
    <form action="addBlog" enctype="multipart/form-data" method="post",>
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    </center>
</body>
</html>